# musicOS
# Rockbox theme for iPod Video 5 / 5.5G

# ==================================================
# THEME
# ==================================================

wps: /.rockbox/wps/musicOS_v2.wps
sbs: /.rockbox/wps/musicOS_v2.sbs


# ==================================================
# FONT
# ==================================================

font: /.rockbox/fonts/20-Inter-SemiBold.fnt


# ==================================================
# COLORS
# ==================================================

foreground color: 000000
background color: FFFFFF


# ==================================================
# MENU SELECTION
# ==================================================

selector type: bar (color)
line selector start color: F24E61
line selector end color: F24E61
line selector text color: FFFFFF


# ==================================================
# MENU
# ==================================================

show icons: off
scrollbar: right
scrollbar width: 6


# ==================================================
# STATUS BAR
# ==================================================

statusbar: top